<container>
<img src="https://cdn.midjourney.com/cdce8dc5-5159-4be2-a585-a4baf80ef2d0/0_3.webp" alt="syner logo" class="logosyner">
<div class="ratee">
Rate Your Mate !
</div>
</container>
<div class="boutons">
    <button class="button-90" role="button" style="font-size: 1.5rem; width: 30%;">Skip</button>
    <span style="margin: 0 20px;"></span>
    <button class="button-80" role="button" style="font-size: 1.5rem; width: 30%;">Vote</button>
</div>
