<div class="container">
  <div class="card-event">
    <div class="title-home">
      <h1>Event :</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cupiditate dolore at quisquam unde laudantium officia. Magnam saepe in autem, eius tempora minus dolorum esse commodi iste recusandae labore. Incidunt.</p>
  </div>
  <div class="title-style H">
    <h2> Room soon complete :</h2>
  </div>
  <div class="card-matches">
    <p>hello my name is Joseph Staline</p>
  </div>
</div>
