
<div class="container biz">
  <div class="title-style">
    <h1>All Rooms :</h1>
  </div>
  <% Match.all.each do |match| %>
    <div class="card-matches">
      <div class="div">
          <div class="img-top">
          </div>
          <div class="img-bot">
            <div class="pi">
              <%= match.user.first_name %>
            </div>
          </div>
      </div>
      <div class="notes">
          <%= match.date %>
      </div>
      <div class="note">
        <p><%= match.number_of_places %>/10</p>
      </div>
    </div>
  <% end %>
</div>
