<div class="container">
  <div class="title-style">
    <h1>All Rooms :</h1>
  </div>
  <div class="card-matches">
    <%= image_tag"Group 1473.png", class:"img-profile" %>
    <div class="notes">
      <p>Joseph Staline</p>
    </div>
    <div class="note">
      <p>9/10</p>
    </div>
  </div>
</div>
