
.img-card img {
  width: 50px !important;
  height: 70px !important;
}

.card-capitaine {
  background-color: #B379DF;
  height: 71px;
  width: 390px;
  margin-top: 33px;
  color: white;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding-top: 17px;
}
