
.img-card img {
  width: 50px !important;
  height: 70px !important;
}


.img-position:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.box {
  background-color: #535353;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: -13px;
  border-radius: 7px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: -39px;
  font-family: Rajdhani;
}

.box p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.hidden {
  display: none;
}
