.title-home {
  text-align: center;
}
.H {
  margin-top: 26px;
}
.bouton {
  margin-left: 256px;
}
.pi10 {
  font-size: small;
  text-align: center;
  color: white;
}
.div10 {
  // display: flex;
  // max-width: 338px;
  // flex-direction: column;
  margin-left: 136px;
}
.img-top10 {
  background-image: url("haut.png");
  background-size: contain;
  height: 80px;
  width: 100px;
  background-repeat: no-repeat;

}
.img-bot10 {
  background-image: url("bas.png");
  background-size: contain;
  height: 72px;
  width: 100px;
  background-repeat: no-repeat;
}
.feur {
  margin-top: 50px;
}

.accordion-button {
  background-color: #2f2f2f;
}

.accordion-item {
  background-color: #2f2f2f;
}

.accordion-button {
  color: white;
}
.so {
  margin-top: 42px;
}
.monstre {
  margin-bottom: 100px;
}
