.title-style {
  color: white;
  text-align: center;
  margin-top: 38px;
  font-family: Rajdhani;
}

.title-style2 {
  color: white;
  text-align: center;
  font-family: Rajdhani;
  margin-left: 71px;
}

.card-matches {
  color: white;
  background: linear-gradient(#8f35a6, #3f0154);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  height: 150px;
  margin-bottom: 32px;
  gap: 20px;
  box-shadow: 2px 3px #73727257;
}

.pi {
  font-size: small;
  text-align: center;
}
.biz {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
}
.su {
  margin-right: 50px;
}

.container-top {
  display: flex;
  justify-content: flex-start;
  margin-top: 37px;
}

.fa-calendar-days {
  color: #23b8b0;
}

.fa-location-dot {
  color: chocolate;
}

.fa-users {
  color: #c8c1c1;
}
