.title-style {
  color: white;
  margin-left: 30px;
  margin-top: 10px;
}
.card-matches {
  color: white;
  background: linear-gradient(#BF02EE, #7F00AB);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  height: 150px;
  margin-bottom: 32px;
  gap: 20px;
}

.pi {
  font-size: small;
  text-align: center;
}
.biz {
  height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}
.su {
  margin-right: 50px;
}
