.title-style {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-family: Rajdhani;
}

.title-style2{
  color: white;
  text-align: center;
  font-family: Rajdhani;
  margin-left: 71px;
}

.card-matches {
  color: white;
  background: linear-gradient(#BF02EE, #7F00AB);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  height: 150px;
  margin-bottom: 32px;
  gap: 20px;
  box-shadow: 1px 1px white;
}

.pi {
  font-size: small;
  text-align: center;
}
.biz {
  height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}
.su {
  margin-right: 50px;
}

.container-top {
  display: flex;
  justify-content: flex-start;
  margin-top: 37px;
}
