.capitaine {
  // Propriétés CSS pour la balise <img>
  img {
    // Vos styles ici
    width: 20px; // Exemple de largeur
    height: 20px; // Exemple de hauteur
  }
}
.table-team {
  background-color: grey;
}
