.logo {
  width: 100px;
  border-radius: 50%;
}
.bas {
  margin-left: -104px;
  justify-content: center;
}
.nav-logo {
  color: white;
  font-size: 25px;
  background-color: purple;
  padding: 1% 2%;
  border-radius: 5px;
  border-color: white;
}

.nav-logo:hover {
  background-color: red;
  transition: 0.2s;
  border-color:black;
}
