.logo {
  width: 80px;
  border-radius: 50%;
  background-color: #B379DF;
  border-color: white;
}
.bas {
  justify-content: center;
  border-top: solid;
  border-color: grey;
  background: #232627;
}
.nav-logo {
  color: white;
  font-size: 25px;
  background-color: #B379DF;
  padding: 1% 2%;
  border-radius: 5px;
  border-color: white;
}
.logo:hover {
  transition: 0.2s;
  background-color: pink;
  border-color: black;
}
.nav-logo:hover {
  background-color: pink;
  transition: 0.2s;
  border-color:black;
}
.left {
  margin-right: 30px;
}
.right {
  margin-left: 30px;
}
