.logo {
  width: 80px;
  border-radius: 50%;
  background-color: purple;
}
.bas {
  justify-content: center;
}
.nav-logo {
  color: white;
  font-size: 25px;
  background-color: purple;
  padding: 1% 2%;
  border-radius: 5px;
  border-color: white;
}
.nav-logo:hover {
  background-color: pink;
  transition: 0.2s;
  border-color:black;
}
.left {
  margin-right: 30px;
}
.right {
  margin-left: 30px;
}
