.img-position {
  width: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.img-position:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.img-position2 {
  width: 50px;
}



.field {
  width: 100%;
  height: 68vh;
  background-image: url("terrain_black_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 58px;
}

.card-goalkeeper {
  display: flex;
  justify-content: center;
}

.card-players {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.field2 {
  width: 100%;
  height: 56vh;
  background-image: url("terrain_black_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 58px;
}

.card-goalkeeper2 {
  display: flex;
  justify-content: center;
}

.card-players2 {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}
