.img-position {
  width: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.img-position:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.field {
  width: 100%;
  height: 71vh;
  background-image: url("terrain_black_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 10px;;
}

.card-goalkeeper {
  display: flex;
  justify-content: center;
  height: 33%;

}

.card-goalkeeper2 {
  display: flex;
  justify-content: center;
  height: 33%;
}

.card-players {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.card-players2 {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.container-def {
  height: 33%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  position: relative;
}

.container-atk {
  height: 33%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.team1 {
  height: 50%;
}

.team2 {
  height: 50%;
}

.container-team {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-position-goalkeeper2 {
  width: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: 70px;
}

.img-position-goalkeeper2:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.img-position-goalkeeper {
  width: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: 70px;
}

.img-position-goalkeeper:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.position,
.positionform,
.teamform {
  display: none;
}

.table-team {
  display: flex;
  justify-content: center;
  justify-content: space-around
}

.join-match {
  height: 0px;
  color: white;
  padding-right: 29px;

}

.join-match h2 {
  font-family: 'Rajdhani';
}

.card-top {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  margin-right: 105px;
  padding-bottom: 11px;
  margin-top: -16px;
}
