.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #b379df;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #9a5bcb;
  color: white;
}

.Btn2,
.Btn3 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .btn {
    margin: 0 10px; // Ajoute un espace entre les boutons
  }
}

.Btn2 {
  margin-top: 585px;
}

.title {
  text-align: center;
  color: white;
}
