
<div class="container">
<br>
<h1 class="title-style">Profil</h1>


   <% stars = @user.team_work%>
 <% empty_star = 5 - @user.team_work.to_i %>


  <% stars_shoot = @user.shoot.to_i %>
 <% empty_star_shoot = 5 - @user.shoot.to_i %>


  <% stars_drible = @user.dribbling.to_i %>
 <% empty_star_drible = 5 - @user.dribbling.to_i %>

  <% stars_physic = @user.physic.to_i %>
 <% empty_star_physic = 5 - @user.physic.to_i  %>
  <div class="div17">
    <div class="img-top17">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "image-profilez"%>
        <% else %>
        <%= image_tag "téléchargé.jpg", class: "image-profilez" %>
      <% end %>
    </div>
     <div class="img-bot17">
    <h2><%= @user.first_name %></h2>
<div class="ratings-container">
  <div class="profilRating"  >
   <div class="label">T-W</div>

    <div class="stars">
    <% @user.team_work.to_i.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% empty_star.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
  <div class="profilRating">
    <div class="label">Sho</div>
    <div class="stars">
    <% stars_shoot.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% empty_star_shoot.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
  <div class="profilRating">
    <div class="label">Phy</div>
    <div class="stars">
       <% stars_physic.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% empty_star_physic.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
  <div class="proilRating">
    <div class="label">Dri</div>
    <div class="stars">
   <% stars_drible.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% empty_star_drible.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
</div>
      </div>
       </div>
<div class="Btn4">
</div>



<%#
 <div class="p">
    <p>
    T-W
    Sho
    Phy
    Dri
    </p>
    </div> %>
