<div class="container">
<br>
<h1 class="title">Rate Your Mate !</h1>
<div class="Btn2">
<%= link_to "Back", "#", class: "btn btn-flat" %>
<%= link_to "Next", "#", class: "btn btn-flat" %></div>
<div class="Btn3"><%= link_to "Confirm", "#", class: "btn btn-flat btn3" %></div>
</div>
