<div class="container">
<br>
<h1 class="title">Rate Your Mate !</h1>
<div class="Btn2">
<%= link_to "Back", "#", class: "btn btn-flat" %>
<%= link_to "Next", "#", class: "btn btn-flat" %></div>
<div class="Btn3"><%= link_to "Confirm", "#", class: "btn btn-flat btn3" %></div>


<%# <div>
<button class="button-3" role="button" style="font-size: 1rem; width: 20%; margin-top: 543px;  margin-left: 29px;">Back</button>
<button class="button-3" role="button" style="font-size: 1rem; width: 20%; margin-left: 159px;">Next</button>
</div>
<button class="button-3" role="button" style="font-size: 1rem; width: 26%; margin-left: 136px;">Confirm</button>
 %>

</div>
